.parent-div{
    border: 1px solid black;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
}
.image{
    max-width: 70%;
    text-align: right;
    margin: auto;
}
.hide{
    display: none;
}
body{
    background-color: #f3f3e5;
}
#title{
    font-family: 'Oswald', sans-serif;
}
#sectionPara{
padding-left: 2px;
}
.message{
    text-align: center;
}